// Размеры контейнера
$maxWidth: 1366px; //Размер макета
$widthContainer: 1200px; //Размер блока контента
$containerOffset: 10px; //Отступ безопасности
$maxWidthContainer: calc($widthContainer + $containerOffset * 2); //Размер котейнера

// Break point
$md1: $maxWidthContainer + $containerOffset;
$md2: 992px;
$md3: 768px;
$md4: 480px;

// Переменные CSS
:root {
    // base
    --max-widthContainer: #{$maxWidthContainer};
    --container-offset: #{$containerOffset};
    --font-family: "Montserrat", sans-serif;

    // colors
    --color-black: #000;
    --color-white: #fff;
    --color-ebony: #253342;

  }
