.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    &.popup--open{
        opacity: 1;
        visibility: visible;
        .popup__content{
            opacity: 1;
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        }
    }
    // .popup__body
    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    // .popup__content
    &__content {
        max-width: 800px;
        padding: 30px;
        position: relative;
        background-color: #fff;
        color: #000;
        opacity: 0;
        transition: all 0.8s ease 0s;
        transform: perspective(600px) translate(0px, -1000%) rotateX(45deg);
    }
    // .popup__close
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #000;
        @media(any-hover: hover){
            &:hover{
                cursor: pointer;
            }
        }
    }
    // .popup__title
    &__title {
        text-align: center;
        padding: 0px 10px 30px 0px;
    }
    // .popup__img
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptive-value("width", 600, 240, 1);
        @include adaptive-value("height", 850, 365, 1);
    }
}