.about-index {
    @include adaptive-value('padding-top', 50, 25, 1);
    @include adaptive-value('padding-bottom', 50, 25, 1);
    background-color: var(--color-white);
    // .about-index__container
    &__container {
        @media (min-width: $md1) {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                top: 50%;
                right: -70px;
                height: 377px;
                width: 50px;
                background: url(../img/bg-dots.png) no-repeat;
                transform: translateY(-50%);
            }
        }
    }
    // .about-index__title
    &__title {
        @include adaptive-value('margin-bottom', 25, 15, 1);
        text-align: center;
    }
    // .about-index__wrap
    &__wrap {
        display: flex;
    }
    // .about-index__content
    &__content {
        flex: 0 1 var(--coll75);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        @media (max-width: $md2) {
            flex: 0 1 var(--coll67-md2);
        }
        @media (max-width: $md3) {
            flex: 0 1 100%;
            margin: 0px 0px 0px 0px;
        }
        .button-more {
            color: var(--color-white);
            background-color: var(--color-alpine);
            @media (any-hover: hover) {
                &:hover {
                    color: var(--color-mine);
                    background-color: var(--color-white);
                }
            }
        }
    }
    // .about-index__text
    &__text {
        @include adaptive-value('margin-bottom', 70, 35, 1);
        @media (max-width: $md3) {
            padding: 0px 0px 0px 0px;
        }
        p {
            @include adaptive-font(16, 14);
            line-height: 156%;
            &:not(:last-child) {
                margin: 0px 0px 10px 0px;
            }
        }
    }
    // .about-index__button
    // &__button {
    // }
    // .about-index__media
    &__media {
        flex: 0 1 var(--coll25);
        @media (max-width: $md2) {
            flex: 0 1 var(--coll33-md2);
        }
        @media (max-width: $md3) {
            display: none;
        }
    }
    // .about-index__img
    &__img {
        width: 100%;
        height: 100%;
    }
}
