.brends-index {
    @include adaptive-value('padding-top', 50, 25, 1);
    @include adaptive-value('padding-bottom', 50, 25, 1);
    background-color: var(--color-white);
    // .brends-index__container
    &__container {
        @media (min-width: $md1) {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                top: 50%;
                right: -70px;
                height: 377px;
                width: 50px;
                background: url(../img/bg-dots.png) no-repeat;
                transform: translateY(-50%);
            }
        }
    }
    // .brends-index__title
    &__title {
        text-align: center;
    }
    // .brends-index__wrap
    &__wrap {
        display: flex;
        align-items: center;
    }
    // .brends-index__swiper
    &__swiper {
        flex: 0 1 var(--coll10);
        min-width: 0;
        margin-right: 20px;
        @media(max-width: $md3){
            margin-right: auto;
        }
        & .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    // .brends-index__controls
    &__controls {
        flex: 0 0 var(--coll12);
        display: flex;
        @media(max-width: $md3){
            display: none;
        }
    }
    // .brends-index__controls--left
    &__controls--left {
        justify-content: flex-start;
        margin-right: 20px;
    }
    // .brends-index__controls--right
    &__controls--right {
        justify-content: flex-end;
    }
}
    .brends-index {
    // .brends-index__pagination-wrap
    &__pagination-wrap {
        margin: 30px 0px 0px 0px;
    }
    // .brends-index__pagination
    &__pagination {
        text-align: center;
        & .swiper-pagination-bullet-active{
            width: 10px;
            height: 10px;
            background: var(--color-alpine);
        }
    }
}
.slide-brend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    @media(any-hover: hover){
        &:hover{
            cursor: pointer;
        }
    }
}
.controls-brends {
    & .swiper-button-disabled {
        opacity: 0.5;
    }
    // .controls-brends__button-prev
    // .controls-brends__button-next
    &__button-prev,
    &__button-next {
        width: 33px;
        height: 58px;
    }
    // .controls-brends__button-prev
    &__button-prev{
        @media(min-width: $md4){
            margin: 0px 40px 0px 0px;
        }
    }
    // .controls-brends__button-next
    &__button-next {
        @media(min-width: $md4){
            margin: 0px 0px 0px 10px;
        }
    }
}